body{
    background-color: #fff8f0;
}
h1{
    font-size: 2.5em;
    background-color:#eae2b7;
    display: inline-block;
}

ol{
    counter-reset: item;
    list-style-type: none;
    line-height: 2.2;
    margin-left: -40px;
}
ol li{
    display: block;
    position: relative;
}
ol li:nth-child(odd){
    background-color: #eee;
}

ol li span{
    margin-left: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    background-color: #fcbf49;
}

ol li:before{
    content: counter(item) " ";
    counter-increment: item;
    color: #d62828;
    position: absolute;
    top: 50%;
    margin-top: -1em;
    background: #003049;
    height: 2em;
    width: 2em;
    line-height: 2em;
    font-weight: 700;
    text-align: center;
}



